<h1 class="text-center">Nombre del usuario</h1>

<p class="text-center">Edita aqui tu perfil</p>

<div class="mb-5 text-center">
  <img src="/img/perfil/perfil.jpg" alt="" class="rounded-circle" />
</div>

<form action="/perfil?" method="post" enctype="multipart/form-data">
  <input type="file" class="form-control form-contol-sm" id="formFileSm" name="myFile"/>
  <button class="btn btn-dark my-3">Cambiar imagen de perfil</button>
</form>